---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import demoImage from '../images/demo.png';
---

<Layout title="Repohistory - A GitHub repo traffic history tracker">
	<NavBar />
	<main>
		<div class="absolute inset-x-0 m-auto h-32 max-w-xl
			bg-gradient-to-tr from-[#62C3F8] via-blue-400 to-blue-900 blur-[130px]" />
		<div class="flex flex-col items-center gap-4 px-5">
			<h1 class="pt-20 text-center text-6xl font-bold leading-tight text-white sm:pt-36 md:text-7xl">
			<div>Effortless Tracking</div>
				<div
					class="bg-gradient-to-b from-blue-300 to-[#62C3F8]
					  inline-block pb-5 text-transparent bg-clip-text"
					>
					Timeless Insights
				</div>
			</h1>
			<h2 class="mb-5 max-w-3xl text-center text-[#a0a0a1] text-lg">
				Repohistory is an open-source platform for tracking GitHub repo traffic history longer than 14 days, offering an easy and detailed long-term view.
			</h2>
			<div class="relative group">
				<div class="transition-opacity ease duration-200 opacity-0
					group-hover:opacity-100 absolute bg-gradient-to-t from-[#62C3F8]
					via-blue-400  w-32 h-6 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 blur-xl" />
				<a
					class="w-32 h-12 bg-[#62C3F8] flex items-center relative z-10 justify-center
					rounded-md text-black font-medium transition"
					href="https://app.repohistory.com/login"
					>
					Get Started
				</a>
			</div>
			<Image
				class="mx-auto w-[90%] sm:w-[80%] my-10 relative z-10 rounded-xl border border-[#303031]"
				alt="screenshot of repohistory"
				src={demoImage}
			/>
		</div>
	</main>
	<Footer />
</Layout>
