---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import demoImage from '../images/demo.png';
import starFeature from '../images/star-feature.png';
import trafficFeature from '../images/traffic-feature.png';
import dashboardFeature from '../images/dashboard-feature.png';
---

<Layout title="Repohistory | A GitHub repo traffic history tracker">
  <div
    class="absolute inset-x-0 top-0 m-auto h-32 max-w-xl
			bg-gradient-to-tr from-[#62C3F8] via-blue-400 to-blue-900 blur-[130px]"
  >
  </div>
  <div class="flex flex-col items-center gap-4 px-5">
    <h1
      class="pt-20 text-center text-6xl font-bold leading-tight text-white sm:pt-36 md:text-7xl"
    >
      <div>Effortless Tracking</div>
      <div
        class="inline-block bg-gradient-to-b from-blue-300
					  to-[#62C3F8] bg-clip-text pb-5 text-transparent"
      >
        Timeless Insights
      </div>
    </h1>
    <h2 class="mb-5 max-w-3xl text-center text-lg text-[#a0a0a1]">
      Repohistory is an open-source dashboard for tracking GitHub repo traffic
      history longer than 14 days, with a sleek UI for comprehensive long-term
      data insights.
    </h2>
    <div class="flex gap-3">
      <div class="group relative">
        <div
          class="ease absolute left-1/2 top-1/2
						h-10 w-32 -translate-x-1/2 -translate-y-1/2
						bg-gradient-to-t from-[#62C3F8] via-blue-400 opacity-0 blur-xl transition-opacity duration-200 group-hover:opacity-100"
        >
        </div>
        <a
          class="relative z-10 flex h-12 w-32 items-center justify-center rounded-md
						  bg-[#62C3F8] font-medium text-black transition"
          href="https://app.repohistory.com/login"
        >
          Get Started
        </a>
      </div>
      <a
        class="relative z-10 flex h-12 w-32 items-center justify-center rounded-md border border-[#62C3F8]
					font-medium text-[#62C3F8] transition"
        href="https://github.com/repohistory/repohistory"
      >
        Star on GitHub
      </a>
    </div>
    <div class="relative my-20">
      <Image
        class="relative z-10 mx-auto w-[90%] rounded-xl border border-[#303031] sm:w-[80%]"
        alt="screenshot of repohistory"
        src={demoImage}
      />
    </div>
  </div>
  <div class="my-20 flex w-[80%] flex-col gap-5 text-white lg:flex-row">
    <div
      class="absolute inset-x-0 left-1/3 z-0 m-auto h-20 max-w-xl
        bg-gradient-to-bl from-[#62C3F8] via-blue-400 to-cyan-700 blur-[100px]"
    >
    </div>
    <div
      class="z-10 flex flex-col gap-2 rounded-lg border border-[#303031] bg-black
          bg-opacity-20 p-10 transition-all hover:border-[#999999] lg:w-1/3"
    >
      <div class="flex items-center justify-between gap-5">
        <div class="font-semibold">Traffic Tracking</div>
        <Image
          class="w-10 rounded-md border border-[#303031]"
          alt="icon of star feature"
          src={trafficFeature}
        />
      </div>
      <div class="text-sm text-[#999999]">
        Start tracking clones and views data from your first login.
      </div>
    </div>
    <div
      class="z-10 flex flex-col gap-2 rounded-lg border border-[#303031] bg-black
          bg-opacity-20 p-10 transition-all hover:border-[#999999] lg:w-1/3"
    >
      <div class="flex items-center justify-between gap-5">
        <div class="font-semibold">All-Time Stars History</div>
        <Image
          class="w-10 rounded-md border border-[#303031]"
          alt="icon of star feature"
          src={starFeature}
        />
      </div>
      <div class="text-sm text-[#999999]">
        Visualize the growth of your repo with an all-time stars history graph.
      </div>
    </div>
    <div
      class="z-10 flex flex-col gap-2 rounded-lg border border-[#303031] bg-black
          bg-opacity-20 p-10 transition-all hover:border-[#999999] lg:w-1/3"
    >
      <div class="flex items-center justify-between gap-5">
        <div class="font-semibold">Dashboard Overview</div>
        <Image
          class="w-10 rounded-md border border-[#303031]"
          alt="icon of star feature"
          src={dashboardFeature}
        />
      </div>
      <div class="text-sm text-[#999999]">
        Easily access a dashboard view for an overview of all your projects.
      </div>
    </div>
  </div>
</Layout>
