---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Support | Repohistory">
  <div class="mt-10 flex flex-col gap-5 text-white">
    <div class="text-4xl font-semibold text-white">Contact us for support</div>
    <div>
      Email:
      <a href="mailto:contact@repohistory.com" class="text-primary text-white underline">
        contact@repohistory.com
      </a>
    </div>
  </div>
</Layout>
