---
import GitHub from '../components/Icons/GitHub.astro';
---

<footer
  class="relative flex h-32 items-center justify-center gap-3
  	border-t border-[#303031] text-sm text-[#a0a0a0] mt-auto"
>
  Copyright © 2023 Repohistory
  <a
    href="https://github.com/repohistory/repohistory"
    class="transition hover:brightness-110"
  >
    <GitHub height="1.5rem" fill="#a0a0a0" />
  </a>
</footer>
