---
import GitHub from '../components/Icons/GitHub.astro';
---

<footer
	class="flex gap-3 relative items-center justify-center mt-20 h-32
  	text-sm text-[#a0a0a0] border-t border-[#303031]"
>
  Copyright © 2023 Repohistory
	<a
		href="https://github.com/repohistory/repohistory"
		class="hover:brightness-110 transition"
	>
		<GitHub height="1.5rem" fill="#a0a0a0" />
	</a>
</footer>
