---
import { Image } from 'astro:assets';
import Logo from '../images/logo.png';
import GitHub from '../components/Icons/GitHub.astro';
---

<nav
  class="sticky top-0 z-50 flex h-16 items-center border-b
	  border-[#303031] bg-[#050506] bg-opacity-20 text-white backdrop-blur-md backdrop-filter"
>
  <a href="/" class="ml-5 sm:ml-10">
    <div class="flex h-full items-center gap-2">
      <Image alt="logo of repohistory" width="25" src={Logo} />
      <h1 class="text-xl font-bold">repohistory</h1>
    </div>
  </a>
  <a
    href="https://github.com/repohistory/repohistory"
    class="ml-auto mr-5 transition hover:brightness-75"
  >
    <GitHub height="1.7rem" fill="#ffffff" />
  </a>
  <a
    class="mr-5 sm:mr-10 flex cursor-pointer items-center justify-center rounded-md border
      bg-white px-2 py-[0.4rem] text-sm text-black transition-all hover:brightness-75"
    href="https://app.repohistory.com/login"
  >
    Get Started
  </a>
</nav>
