---
import { Image } from 'astro:assets';
import Logo from '../images/logo.png';
import GitHub from '../components/Icons/GitHub.astro';
---

<nav
	class="text-white z-50 flex items-center h-16 backdrop-filter backdrop-blur-md
	  bg-[#050506] bg-opacity-20 border-b border-[#303031] sticky top-0"
>
	<a href="/" class="ml-[5%]">
		<div class="flex gap-2 items-center h-full">
			<Image
				alt="logo of repohistory"
				width="25"
				src={Logo}
			/>
			<h1 class="text-2xl font-bold font-sans">
				repohistory
			</h1>
		</div>
	</a>
	<a
		href="https://github.com/repohistory/repohistory"
		class="ml-auto mr-[5%] hover:brightness-75 transition"
	>
		<GitHub height="1.7rem" fill="#ffffff" />
	</a>
</nav>
