<div
  class="prose prose-invert mt-12 px-5 prose-h1:text-4xl prose-h1:font-bold prose-p:text-justify prose-a:text-[#62C3F8] prose-img:rounded-md prose-img:border prose-img:border-[#303031]"
>
  <slot />
</div>
